.container.comics{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    .comic{
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        overflow-wrap: break-word;
        max-width: 200px;

        p{
            color: $secondaryColor;
        }
    }
    img{
        align-self: flex-start;
        width: 170px;
        margin:10px;
    }
}
.container-fluid{
    position: relative;
    padding-top: 30px;
    background-color: $mainColor;
    .striscetta{
        position: absolute;
    
        left: 200px;
        top: -15px;
        padding:  5px 20px;
        background-color: $thirdColor;
        font-size: 18px;
        color: $secondaryColor;
        border-radius : 0px 15px 15px 0px;
    }
    a{
        background-color: $thirdColor;
        padding :5px 20px;
        margin: 40px!important;
        color:$secondaryColor;
        text-decoration: none;
      }
}
