* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header img {
  height: 80px;
  margin: 20px 0px;
}

.header nav {
  height: 100%;
}

.header nav ul {
  list-style-type: none;
  height: 100%;
}

.header nav ul li {
  display: inline-block;
  margin: 0 5px;
  height: 100%;
}

.header nav ul li a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #121222;
  height: 100%;
}

.header nav ul li .active {
  border-bottom: 5px solid #00c1f1;
}

.jumbotron {
  width: 100%;
  min-height: 400px;
  background-image: url("/images/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.container.comics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.container.comics .comic {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  overflow-wrap: break-word;
  max-width: 200px;
}

.container.comics .comic p {
  color: white;
}

.container.comics img {
  align-self: flex-start;
  width: 170px;
  margin: 10px;
}

.container-fluid {
  position: relative;
  padding-top: 30px;
  background-color: #121222;
}

.container-fluid .striscetta {
  position: absolute;
  left: 200px;
  top: -15px;
  padding: 5px 20px;
  background-color: #3e3efd;
  font-size: 18px;
  color: white;
  border-radius: 0px 15px 15px 0px;
}

.container-fluid a {
  background-color: #3e3efd;
  padding: 5px 20px;
  margin: 40px !important;
  color: white;
  text-decoration: none;
}

.container-fluid.merchandise {
  width: 100%;
  background-color: #3e3efd;
}

.container-fluid.merchandise .container.merchandise {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100px;
  width: 100%;
  padding: 20px;
  background-color: #3e3efd;
}

.container-fluid.merchandise .container.merchandise .elemento_primo_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
}

.container-fluid.merchandise .container.merchandise .elemento_primo_container img {
  height: 60px;
}

.container-fluid.merchandise .container.merchandise .elemento_primo_container p {
  margin-left: 10px;
  color: white;
}

